[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    notebooks,
    *.ipynb*
ignore =
    # W503 deprecated in favor of W504
    W503
